body {
  background-color: #1aa4ce;
}

.nav-bar {
  background-color: #da2a6d;
  padding: 1em;
  color: #8b0dcf;
  font-size: 1.2em;
  font-weight: 600;
}

nav > ul > li {
  border: solid 1px;
  padding: .33em;
  display: inline-block;
}

footer {
  padding: .5em;
  background-color:  #1aa4ce;
}

/* CSS Stylesheet */
@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .toggle-btn {
    display: block;
    cursor: pointer;
  }

  .toggle-btn .bar {
    background-color: #000;
    height: 3px;
    margin-bottom: 6px;
    transition: background-color 0.3s ease;
  }

  .toggle-btn:hover .bar {
    background-color: #aaa;
}

  #toggle:checked ~ .navigation {
    display: block;
  }
}
